body {
   background-color: gainsboro;
}

#feedbackContainer {
    border: 2px solid grey;
    text-align: center;
    border-radius: 2ex;
    background-color: white;
    margin-bottom: 20px;    
}

#questionContainer {
    border: 2px solid grey;
    text-align: center;
    font-size: 4ex;
    border-radius: 20px;
    background-color: white;
    margin-bottom: 20px;    
}

#answerContainer {
    border: 2px solid grey;
    text-align: center;
    border-radius: 20px;
    background-color: white;   
}

.stars {
    color: gold;
    font-size: 2em;
    visibility: hidden;
    opacity: 0;
}

.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s linear;
}

.bubble {
    vertical-align: middle;
    background-color: green;
    display: inline-block;
    width: 2.3ex;
    height: 2.3ex;
    border-radius: 1.2ex;
    color: white;
    font-size: 6em;
    margin: 0.2ex;
    transition: background-color 0.6s;
    
} 

.bubble:hover {
    background-color: gold;
}

#questionContainer .bubble {
    background-color: gold;
    border : 5px solid sandybrown;
}

.life {
    font-size: 4em;
}