body {
   background-color: gainsboro;
}

#feedbackContainer {
    border: 2px solid grey;
    text-align: center;
    border-radius: 2ex;
    background-color: white;
    margin-bottom: 20px; 
    font-size: 4em;   
}

#questionContainer {
    border: 2px solid grey;
    text-align: center;
    font-size: 4ex;
    border-radius: 20px;
    background-color: white;
    margin-bottom: 20px;    
}

#answerContainer {
    border: 2px solid grey;
    text-align: center;
    border-radius: 20px;
    background-color: white;   
}

.stars {
    color: gold;
    font-size: 2em;
    visibility: hidden;
    opacity: 0;
}

.hidden {
    visibility: hidden;
    opacity: 0;
} 

.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s linear;
}

.bubble {
    vertical-align: middle;
    background-color: green;
    display: inline-block;
    width: 2.3ex;
    height: 2.3ex;
    border-radius: 1.2ex;
    color: white;
    font-size: 6em;
    margin: 0.2ex;
    transition: background-color 0.6s;
    
} 

.bubble:hover {
    background-color: gold;
}

#questionContainer .bubble {
    background-color: gold;
    border : 5px solid sandybrown;
}

.life {
    font-size: 8em;
}


/* entire container, keeps perspective */
.flip-container {
     perspective: 1000;
     transform-style: preserve-3d;
     display: inline-block;
}

/*  UPDATED! flip the pane when hovered */
.flip-container.flip .back {
     transform: rotateY(0deg);
}
.flip-container.flip .front {
    transform: rotateY(180deg);
    backface-visibility: hidden; 
}

.flip-container, .front {
     width: 2ex;
     height: 2ex;
}

.flip-container, .back {
     width: 2ex;
     height: 2ex;
}

 /* flip speed goes here */
 .flipper {
     transition: 0.6s;
     transform-style: preserve-3d;
     position: relative;
}

/* hide back of pane during swap */
.front, .back {
 -webkit-backface-visibility: hidden;
         backface-visibility: hidden;
 -webkit-transition: 0.6s;
         transition: 0.6s;
 -webkit-transform-style: preserve-3d;
         transform-style: preserve-3d;
 position: absolute;
 top: 0;
 left: 0;
 }

 /*  UPDATED! front pane, placed above back */
.front {
 z-index: 2;
 -webkit-transform: rotateY(0deg);
         transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
 -webkit-transform: rotateY(-180deg);
         transform: rotateY(-180deg);
}